<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MVCSample</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>registerServlet</display-name>
    <servlet-name>registerServlet</servlet-name>
    <servlet-class>org.huihui.servlet.registerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerServlet</servlet-name>
    <url-pattern>/registerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>org.huihui.servlet.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateIntroduceServlet</display-name>
    <servlet-name>updateIntroduceServlet</servlet-name>
    <servlet-class>org.huihui.servlet.updateIntroduceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateIntroduceServlet</servlet-name>
    <url-pattern>/updateIntroduceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>invalidateServlet</display-name>
    <servlet-name>invalidateServlet</servlet-name>
    <servlet-class>org.huihui.servlet.invalidateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>invalidateServlet</servlet-name>
    <url-pattern>/invalidateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>shareWeiboServlet</display-name>
    <servlet-name>shareWeiboServlet</servlet-name>
    <servlet-class>org.huihui.servlet.shareWeiboServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>shareWeiboServlet</servlet-name>
    <url-pattern>/shareWeiboServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>showWeiboServlet</display-name>
    <servlet-name>showWeiboServlet</servlet-name>
    <servlet-class>org.huihui.servlet.showWeiboServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showWeiboServlet</servlet-name>
    <url-pattern>/showWeiboServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteWeiboServlet</display-name>
    <servlet-name>deleteWeiboServlet</servlet-name>
    <servlet-class>org.huihui.servlet.deleteWeiboServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteWeiboServlet</servlet-name>
    <url-pattern>/deleteWeiboServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>searchUserServlet</display-name>
    <servlet-name>searchUserServlet</servlet-name>
    <servlet-class>org.huihui.servlet.searchUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchUserServlet</servlet-name>
    <url-pattern>/searchUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>praiseServlet</display-name>
    <servlet-name>praiseServlet</servlet-name>
    <servlet-class>org.huihui.servlet.praiseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>praiseServlet</servlet-name>
    <url-pattern>/praiseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>commentServlet</display-name>
    <servlet-name>commentServlet</servlet-name>
    <servlet-class>org.huihui.servlet.commentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>commentServlet</servlet-name>
    <url-pattern>/commentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>remarkServlet</display-name>
    <servlet-name>remarkServlet</servlet-name>
    <servlet-class>org.huihui.servlet.remarkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>remarkServlet</servlet-name>
    <url-pattern>/remarkServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>applyServlet</display-name>
    <servlet-name>applyServlet</servlet-name>
    <servlet-class>org.huihui.servlet.applyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>applyServlet</servlet-name>
    <url-pattern>/applyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getMessageServlet</display-name>
    <servlet-name>getMessageServlet</servlet-name>
    <servlet-class>org.huihui.servlet.getMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getMessageServlet</servlet-name>
    <url-pattern>/getMessageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>friendServlet</display-name>
    <servlet-name>friendServlet</servlet-name>
    <servlet-class>org.huihui.servlet.friendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>friendServlet</servlet-name>
    <url-pattern>/friendServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteheServlet</display-name>
    <servlet-name>deleteheServlet</servlet-name>
    <servlet-class>org.huihui.servlet.deleteheServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteheServlet</servlet-name>
    <url-pattern>/deleteheServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>searchallServlet</display-name>
    <servlet-name>searchallServlet</servlet-name>
    <servlet-class>org.huihui.servlet.searchallServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchallServlet</servlet-name>
    <url-pattern>/searchallServlet</url-pattern>
  </servlet-mapping>
</web-app>